.newPasswordContainer {
  height: 100vh;
  background-color: #f3e8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
 
  background-color: #f4f0fa;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.formContainer h2 {
  color: #5a189a;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #b197fc;
  border-radius: 6px;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  background-color: #7b2cbf;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #5a189a;
}

.messageBox {
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 15px;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}
