.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.content {
  flex: 1;
  padding: 30px;
  margin-left: 240px; /* Sidebar genişliyi ilə eyni */
  box-sizing: border-box;
  overflow-x: hidden;
}
